.dashboard-card{
    width: 300px;
    height: 90px;

    background: white;
    border: 1px solid #eeeeee;
    border-radius: 14px;
    display: flex;
    padding: 18px;
    margin-left: 0;
    justify-content: space-between;
    align-items: center;
}

.dashboard-card-left{
    display: flex;
    align-items: center;
    gap: 10px;
}

.dashboard-card-icon{

    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.dashboard-card-icon img{
    width:25px;
    height:auto;
    font-size: 14px;
    display:block;
}

.dashboard-card span{
    font-size:14px;
    color:gray;
}

.dashboard-card h4{
    margin:0;
    font-size:20px;
    font-weight:600;
}