*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}

.sidebar{
    position: fixed;
   
    margin-left: 0;
    width: 120px;
 
    margin-top: 0;
    pointer-events: auto;
}
.logo{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
}
.sidebar .card{
    border-radius: 10px;
    height: 100vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.068);
    border: 1px solid #ddd;
}
.vector{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    gap: 15px;
}

.vector a {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.2s, opacity 0.2s;

}
.vector img {
    width: 25px;
    height: 24px;
    margin-top: 20px;
}



.active-link {
  border-right: 4px solid #4F45B6;
  width: 100%;
  color: #4F45B6;
   filter: brightness(0) saturate(100%) invert(29%) sepia(98%) saturate(1234%) hue-rotate(228deg) brightness(89%) contrast(96%);
}
@media (max-width: 768px) {
  .sidebar {
    width: 70px; 
  }

  .vector img {
    width: 20px;
    height: 20px;
  }

  .logo img {
    width: 40px;
  }
}