/* ===== LAYOUT ===== */
.layout {
  display: flex;
  height: 100vh;
}

.main-area {
  flex: 1;
  margin-left: 120px;
  /* padding-top: 100px; */
  overflow-y: auto;
}



/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .main-area {
    margin-left: 60px;
  }

  .dashboard-layout {
    flex-direction: column;
  }

  .dashboard-right {
    width: 100%;
  }

  .dashboard-left {
    width: 100%;
  }
}



@media (max-width: 768px) {
  .main-area {
    margin-left: 80px; /* ← yeh change karo */
  }

  .header {
    left: 80px;
    width: calc(100% - 80px);
  }
}